#gameContainer { text-align: center; }
#scoreContainer { display: inline-block; }
#scoreContainer * { vertical-align: middle; padding: 5px 10px; }
#scoreContainer div { opacity: 0.5; display: initial; }
#scoreContainer div.activePlayer { opacity: 1; font-weight: bold; }
#scoreContainer div span { width: 50px; display: inline-block; color: white; font-size: 35px; font-weight: bold; }
#pOneScore { background-color: blue; }
#pTwoScore { background-color: red; }
#boardContainer { margin: 35px 0 0; }
line { cursor: pointer; }
.clicked { pointer-events : none; }