/* General */
body { background: whitesmoke; font-family: 'Roboto', sans-serif; }

/* Function classes */
.visible { display: initial; }
.invisible { display: none; }

/* Color picker */
.wheel { float: left; display: none; }
.wheel .button { margin-top: 10px; }

/* Header */
.header div {display: inline-block; vertical-align: middle; }
.header img { height: 36px; }
.header #settings { cursor: pointer; width: 3%; }
.header .title { width: max-content; width: 96%;  }
.header h1 { text-align: center; margin: 0px; padding-right: 3%; }
.header { margin-bottom: 20px;}

/* Configuration page */
#configuration .content { border: none; }
#configuration { width: 35%; height: 100%; margin: auto; text-align: center; }
#configuration .colorPicker { width: 25px !important; border-radius: 50% !important; padding: 5px !important; }
#configuration .button { border-radius: 7px; border: 0.5px gray solid; background: gainsboro; width: 100%; font-family: 'Roboto', sans-serif; font-size: 20px; padding: 5px;}
.content div { border: 1px solid rgb(197, 197, 197); border-radius: 5px; padding: 10px; margin-bottom: 20px; }
.content div h3 { background: whitesmoke; margin: -10px 0px 0px 10px; transform: translateY(-50%); width: fit-content; padding: 2px; font-size: 15px; }
.content div p { width: 100%; text-align: left; margin: 5px; padding: 3px 0px; }
.content div p * { display: inline-block; vertical-align: middle; }
.content div p input[type="text"] { height: 25px; width: 45%; }
.content div p input[type="radio"], .content div p input[type="checkbox"] { height: 25px; width: 25px;  }
.content div p input[type="checkbox"]  { margin: 0px; }
.content div p input[type="radio"] { margin-right: 15px; }
.content div p label { width: 41%;  }
.content .button-content { border:none; }
#colorPlayerOne, #colorPlayerTwo { border: none; }
.colorPicker { cursor: pointer; }
#difficulty label { cursor: pointer; }