body {
    background: whitesmoke;
}

h1 {
    text-align: center;
}

#configuration {
    width: 35%;
    height: 100%;
    margin: auto;
    text-align: center;
}

#configuration ol {
    list-style-type: none;
    border: 1px solid rgb(197, 197, 197);
    border-radius: 5px;
    padding: 0;
}

#configuration li {
    height: 25px;
    margin: 10px 10px;
}

#configuration label {
    float: left;
    width: 200px;
    height: 100%;
    margin-right: 8px;
}

#configuration input[type=text] {
    display: block;
    border: none;
    border-radius: 5px;
    padding: 5px 50px 5px 5px;
}

#configuration .colorPicker {
    width: 25px !important;
    border-radius: 50% !important;
    padding: 5px !important;
}

#configuration .button {
    width: 50%;
    cursor: pointer;
}

.wheel {
    float: left;
    display: none;
}

.wheel .button {
    margin-top: 10px;
}

.button {
    height: 25px;
    border-radius: 7px;
    border: 0.5px gray solid;
    background: gainsboro;
}

.visible {
    display: initial;
}

.invisible {
    display: none;
}

#colorPlayerOne,
#colorPlayerTwo {
    border: none;
}

.colorPicker {
    cursor: pointer;
}

#settings {
    height: 50px;
    cursor: pointer;
    position: absolute;
    top: 10px;
    left: 10px;
}

#difficulty label {
    cursor: pointer;
}